.carousel-section {
    display: block;
    width: 100%;
}

.carousel-section-image {
    width: 50%;
}

.card-section .card-container .card {
    width: 100%;
    background: linear-gradient(145deg, rgba(var(--primary-color),0.5) 0%, rgba(var(--primary-color),1) 25%, rgba(var(--primary-color-dark),1) 75%, rgba(var(--primary-color),0.5) 100%);
}

.about-us-section {
    background-color: rgba(var(--primary-color), 0.5);
}

.about-us-section .btn {
    width: 164px;
}

@media (min-width: 768px) {
    .card-section .card-container .card {
        width: 48%;
        height: 18rem;
    }
}

@media (min-width: 992px) {
    .carousel-section {
        height: 75vh;
    }

    .card-section .card-container .card {
        width: 23%;
        height: 22rem;
    }
}

@media (min-width: 1200px) {
    .card-section .card-container .card {
        height: 18rem;
    }
}